@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --yellow:#f9ca24;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
}

*::selection{
    background:var(--yellow);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

body{
    background:#111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--yellow);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--yellow);
}
/*******************====================== header starts ========================******************************/
header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:30rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

 
header .user img{
    height:12rem;
    width:12rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.3rem solid var(--yellow);
}

header .user .name{
    font-size: 3rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:2rem;
}


header .navbar ul li a{
    display: block;
    padding:0.8rem;
    margin:0.5rem 0;
    background:#333;
    color:#fff;
    font-size: 1.5rem;
    border-radius: 1rem;
}

header .navbar ul li a:hover{
    background:var(--yellow);
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

/*******************====================== header ends ========================******************************/


/*******************====================== home starts ========================******************************/
.home{
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}
.home-cv{
    display: flex;
    flex-flow: row;
   

}
#home-social{
    margin-left: 1.5rem;
}
.home-cv a{
    margin-top: 1rem;
    margin-right: 2rem;
}
.home-cv h3{
    margin-top: 3rem;
    margin-right: 5rem;
    

}
.home-cv h3 i{
    color:white;
}
.home h3{
    font-size: 2.5rem;
    color:#fff;
}

.home h1{
    font-size:5rem;
    color:#fff;
}

.home h1 span{
    color:var(--yellow);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}
  /*******************====================== home ends ========================******************************/


  /*******************====================== about starts ========================******************************/
.about-box{
    color: white;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
.about-box span{
    color:var(--yellow);
}
.about-content h2{
    margin-bottom: 3rem;
     
}
#about p{
    font-size: 2rem;
} 
#about h3{
    font-size: 3rem;
}
/*******************====================== about ends ========================******************************/

/*******************====================== skills starts ========================******************************/
.skills-box{
    display: flex;
    flex-flow: row; 
    justify-content: space-evenly;
}
 .skills
{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}  
.skills .skill-item
{
    flex: 0 0 100%;
    max-width: 100%;
}  
.skills .skill-item h5
{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
}
.skills .skill-item .progress
{
    background-color: white;
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}
.skills .skill-item
{
    margin-bottom: 25px;
}
.skills .skill-item .progress .progress-in
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--yellow);
}
.skills .skill-item .skill-percent
{
    position: absolute;
    right: 0;
    color: white;
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}


/*******************====================== skills ends ========================******************************/




/*******************====================== education starts ========================******************************/


.education .box-container{
    display: flex;
    flex-flow: column wrap;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    margin:2rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.5rem;
    /* background:#222; */
    color:#fff;
    /* border-radius: 5rem; */
    padding-top: 0.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:var(--yellow);
}



/*******************====================== education ends ========================******************************/


/*******************====================== project starts ========================******************************/
.portfolio .box-container{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    margin:2rem;
    overflow: hidden;
   
}

.portfolio .box-container .box img{
    height:25%;
    width:25%; 
    margin-right: 4rem;
    border-radius: 1rem;
    border: solid var(--yellow);
    cursor: pointer;
    object-fit: cover;
}
#project-img{
    display: flex;
    flex-flow: row;
    
}
.portfolio .box-container .box h3{
    font-size: 2rem;
    color:#fff;
}
.portfolio .box-container .box li{
    word-wrap: break-word;
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}
 

/*******************====================== project ends ========================******************************/


/*******************====================== responsibility starts ========================**********************/
 

.service .container
{
    padding-bottom: 2.5rem;
}
.service .row{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.service .service-item
{   margin-top: 2rem;
    margin-bottom: 2rem;
    flex: 0 0 33.33%;
    max-width: 32%;
    justify-content: space-evenly;
}

.service .heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}
.service .service-item .service-item-inner
{
    background-color: black;
    border: 1px solid var(--yellow);
    min-height: 20rem;
    margin: 0.5rem;
    border-radius: 1rem;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3S ease;
}
.service .service-item .service-item-inner:hover
{   border-radius: 1rem;
    box-shadow:  0 0 1.8rem whitesmoke;
}
.service .service-item .service-item-inner .icon 
{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: block;
    margin:  0 auto 2rem;
    text-align: center;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner .icon .fa
{
    font-size: 2.5rem;
    line-height: 4rem;
    color: whitesmoke;
    transition: all 0.3s ease;
}
.service .service-item .service-item-inner:hover .icon
{
    background: var(--yellow);
}
.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 2.5rem;
    color: #ffffff;
}
.service .service-item .service-item-inner h4
{
    font-size: 1.8rem;
    margin-bottom: 1.3rem;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p
{
    font-size: 1.4rem;
    color: white;
    line-height: 1.8rem;
}


/*******************====================== responsibility ends ========================**********************/


/*******************====================== contact starts ========================**********************/
.contact .row{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-wrap: wrap;
    /* min-height: 100vh; */
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--yellow);
}
.contact-cv{
    display: flex;
    flex-flow: row;
}
.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    color: var(--yellow);
    display: none;
    border: 1px solid var(--yellow);
    padding: 1px;
}

/*******************====================== contact ends ========================**********************/

/*******************====================== media queries starts ================**********************/

/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }
   .service .service-item
   {
       flex: 0 0 50%;
       max-width: 50%;
   }
   /* .skills{
    flex:  0 50%;
    max-width: 50%;
   } */
}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
    .service .service-item
    
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    /* .skill{
        flex:  0 100%;
        max-width: 100%;
       } */
 }

  
@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }